<ion-header>
  <ion-toolbar>
    <ion-title>معلومات الإتصال</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>الإيميل</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الجوال</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الهاتف</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم الجوال(واتساب)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم جوال قريب</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>صلة القرابة</ion-label>
          <ion-select>
            <ion-select-option>والد</ion-select-option >
            <ion-select-option>والدة</ion-select-option >
            <ion-select-option>زوج</ion-select-option >
            <ion-select-option>زوجة</ion-select-option >
            <ion-select-option>ابن</ion-select-option >
            <ion-select-option>جد</ion-select-option >
            <ion-select-option>جدة</ion-select-option >
            <ion-select-option>أخ</ion-select-option >
            <ion-select-option>أخت</ion-select-option >
            <ion-select-option>ابن الإبن</ion-select-option >
            <ion-select-option>عم</ion-select-option >
            <ion-select-option>عمة</ion-select-option >
            <ion-select-option>خال</ion-select-option >
            <ion-select-option>خالة</ion-select-option >
            <ion-select-option>ابن الأخ</ion-select-option >
            <ion-select-option>ابن الأخت</ion-select-option >
          </ion-select>
        </ion-item>
       

      <ion-button color="primary" expand="full" color="danger" routerLink="/home-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/social-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
