<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>المعلومات الشخصية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <form #form="ngForm" (ngSubmit)="addInfo()">
        <ion-item>
          <ion-label color="primary" floating>الاسم الاول </ion-label>
          <ion-input [(value)]="personal_info.first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الاسم الثاني </ion-label>
          <ion-input [(value)]="personal_info.second_name" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>اسم الجد </ion-label>
          <ion-input [(value)]="personal_info.third_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الاسم العائلة </ion-label>
          <ion-input [(value)]="personal_info.family_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الجنس </ion-label>
          <ion-select [(value)]="personal_info.gender" >
            <ion-select-option  value="female">انثى</ion-select-option >
            <ion-select-option value="male">ذكر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating> رقم الهوية </ion-label>
          <ion-input [(value)]="personal_info.national_id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكان الميلاد</ion-label>
          <ion-input [(value)]="personal_info.place_national" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكان الميلاد</ion-label>
          <ion-input [(value)]="personal_info.place_birth" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ الميلاد</ion-label>
          <ion-datetime [(value)]="personal_info.date_birth" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المهنة</ion-label>
          <ion-input [(value)]="personal_info.job" ></ion-input>
        </ion-item>
        <button type="submit" block>حفظ</button>
      </form>
    </ion-list>
    </ion-col>
  </ion-row> 
</ion-content>
