<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">خروج</ion-button>
    <ion-title>تسجيل جديد</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="floating">الاسم</ion-label>
        <ion-input ngModel name="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">الايميل</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">الرقم السري</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>سعودي</ion-label>
      <ion-radio name="user_type"  ngModel name="saudi" event="ionChange"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>غير سعودي</ion-label>
      <ion-radio name="user_type" ngModel name="non_saudi" event="ionChange"></ion-radio>
    </ion-item> -->

  
    <ion-button type="submit" expand="full" color="danger">تسيل</ion-button>
  </form>

  <p text-center>يوجد لديك حساب؟</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">تسجيل الدخول</ion-button>
</ion-content>  
