<ion-header>
  <ion-toolbar>
    <ion-title>معلومات السكن</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>موقع السكن</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>وصف السكن</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>رقم المبنى</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>نوع السكن</ion-label>
          <ion-select>
            <ion-select-option>فيلا</ion-select-option >
            <ion-select-option>دور</ion-select-option >
            <ion-select-option>بيت شعبي</ion-select-option >
            <ion-select-option>شقة</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ملكية السكن</ion-label>
          <ion-select>
            <ion-select-option>ملك</ion-select-option >
            <ion-select-option>مستأجر</ion-select-option >
            <ion-select-option>وقف</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating> احداثيات السكن(E)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>احداثيات السكن(N)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>قيمة الإيجار(في حال كان مستأجر)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل قيمة الإيجار مناسبة للسكن؟</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
            <ion-select-option>غير مستأجر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكونات السكن</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل قيمة الإيجار مناسبة للسكن؟</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
            <ion-select-option>غير مستأجر</ion-select-option >
          </ion-select>
        </ion-item>
        <!-- hhh -->
        <ion-item>
          <ion-label>مكونات السكن</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>غرفة نوم</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>صالة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>حوش</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مجلس</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مطبخ</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>غرفة سائق</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>ملحق خارجي</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>صالة طعام</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مستودع</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد جميع الغرف بالمنزل</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>اكثر</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل عدد الغرف كافية لأفراد الأسرة</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل وضع المنزل مناسب للسكن</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>إذا كان غير مناسب، اذكر السبب</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ماهو تقييمك لجودة السكن</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>ماهو تقييمك لحالة السكن(البنيةالأساسية)</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>غرفة النوم</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مطبخ</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>دورات مياة</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مستودع</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>غرفة سائق</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>حوش</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>سطح</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ملحق خارجي</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>صالة</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مجلس</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>صالة طعام</ion-label>
          <ion-select>
            <ion-select-option>تصدعات</ion-select-option >
            <ion-select-option>هبوط</ion-select-option >
            <ion-select-option>خطر</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <!--  -->
        <ion-item>
          <ion-label>إلى ماذا يحتاج السكن</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>أعمال كهربائية</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>أعمال سباكة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مطبخ</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>أبواب</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>حنفيات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>شبابيك</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>صرف صحي</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>دهانات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>تلبيس</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>لمبات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>سخانات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>شفاطات هواء</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>تكييف</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>ثلاجة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>تمديدات كهرباء</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>إصلاح التسريبات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>إصلاح التشققات</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>لايوجد</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>

        <!-- j -->
        <ion-item>
          <ion-label>الأجهزة الكهربائية</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف سبيليت</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف شباك</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف صحراوي</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ثلاجة</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>فريزر</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>برادة ماء</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>غسالة</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>سخانة</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكنسة كهرب</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>دفاية</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مروحة شفط</ion-label>
          <ion-select>
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>أكثر</ion-select-option >
          </ion-select>
        </ion-item>

        <!-- JJ -->
        <ion-item>
          <ion-label>ماهي الأجهزة الكهربائيةالغير متوفرة</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>مكيف سبيليت</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مكيف شبك</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مكيف صحراوي</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>ثلاجة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>فريزر</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>برادة ماء</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>غسالة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>سخانة</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مكنسة كهرب</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>دفاية</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>مروحة شفط</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <!-- الذ -->
        <ion-item>
          <ion-label>ماهو تقييمك لحالة الأجهزه الكهربائية</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف سبيليت</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف شباك</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكيف صحراوي</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ثلاجة</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>فريزر</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>برادة ماء</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>غسالة</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>سخانة</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكنسة كهرب</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>دفاية</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مروحة شفط</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ماهو تقييمك لحالة الأثاث</ion-label>
          <ion-select>
            <ion-select-option>غير متوفر</ion-select-option >
            <ion-select-option>بحاجة إلى تغيير</ion-select-option >
            <ion-select-option>بحاجة إلى صيانة</ion-select-option >
            <ion-select-option>مقبول</ion-select-option >
            <ion-select-option>ممتاز</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل المجالس مؤثثة؟</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>


        
      <ion-button color="primary" expand="full" color="danger" routerLink="/commitment" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/contact-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
